/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #222831;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #4ecca3;
    color: #222831;
}

section {
    padding: 50px;
    text-align: center;
}

footer {
    background-color: #222831;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
